[project]
	description = DBMS Course Project - Python/Flask
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shivanouyen Yoganathan (yenvanio)
[access "refs/for/refs/*"]
	read = group user/Shivanouyen Yoganathan (yenvanio)
	push = group user/Shivanouyen Yoganathan (yenvanio)
	label-Code-Review = -2..+2 group user/Shivanouyen Yoganathan (yenvanio)
	label-Verified = -1..+1 group user/Shivanouyen Yoganathan (yenvanio)
	rebase = group user/Shivanouyen Yoganathan (yenvanio)
	removeReviewer = group user/Shivanouyen Yoganathan (yenvanio)
	submit = group user/Shivanouyen Yoganathan (yenvanio)
[access "refs/heads/*"]
	read = group user/Shivanouyen Yoganathan (yenvanio)
	create = group user/Shivanouyen Yoganathan (yenvanio)
	push = +force group user/Shivanouyen Yoganathan (yenvanio)
	pushMerge = group user/Shivanouyen Yoganathan (yenvanio)
[access "refs/tags/*"]
	push = group user/Shivanouyen Yoganathan (yenvanio)
	push = +force group user/Shivanouyen Yoganathan (yenvanio)
