{% extends "_base.html" %}

{% block content %}
<body>

<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <h1>Available Bins</h1>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->


  <!-- Content Row -->
  <div class="row">
    {% for row in available %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">{{ row[0] }}</h2>
          <p class="card-text">Quantity: {{ row[1] }}</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    {% endfor %}
  </div>
  <!-- /.row -->

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <h1>Unavailable Bins</h1>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    {% for row in unavailable %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">{{ row[0] }}</h2>
          <p class="card-text">Quantity: {{ row[1] }}</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    {% endfor %}
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
</body>
{% endblock %}
